<div class="card h-100" style="width: 16rem;">
  <img src="https://api.distribuidorabergmann.com.br/storage/4ef21972-c2d5-47ea-9921-720e01d063d7.png" class="card-img-top">
  <div class="card-body">
    <h2 class="card-title">Arroz Orgânico Camil</h2>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <span class="card-text">1 Kg / 1 unidade<br>Validade: 10/10/2022</span>

    <div class="mt-2 d-flex justify-content-between">
      <div class="d-flex flex-column">
        <span class="fw-bolder fs-5">R$ 12,90</span>
        <span>Varejo</span>
      </div>

      <div class="d-flex flex-column">
        <span class="fw-bolder fs-3 text-end">R$ 10,00</span>
        <span class="text-end">A partir de 5 unidades</span>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="col-sm-4">
        <input type="number" class="form-control" value="0">
      </div>

      <div class="col-sm-8 d-flex justify-content-end">
        <button type="submit" class="btn btn-secondary">Adicionar</button>
      </div>
    </div>
  </div>
</div>
