<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">{{applicationName}}</a>

    <button  *ngIf="userIsAdmin" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav" *ngIf="userIsAdmin">
      <ul class="navbar-nav">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cadastros
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" role="button" (click)="redirectTo(routes.dashboard.products.list)">Produtos</a></li>
            <li><a class="dropdown-item" role="button" (click)="redirectTo(routes.dashboard.flyers.list)">Catálogos</a></li>
            <li><a class="dropdown-item" role="button" (click)="redirectTo(routes.dashboard.enterprises.list)">Empresas</a></li>
            <li><a class="dropdown-item" role="button">Usuários</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" role="button" (click)="redirectTo(routes.auth.logout)">Sair</a>
        </li>
      </ul>
    </div>

    <div *ngIf="!userIsAdmin">
      <mat-icon  role="button" svgIcon="cart" style="color: white;" (click)="redirectTo(routes.flyer.cart)"></mat-icon>
    </div>

  </div>
</nav>
